<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ChatBot</title>
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
    <div class="navbar">
        <div class="logo">
            <img src="static/chatbot.gif" alt="Logo" onclick="window.location.href='/';">
        </div>
        <div class="logo1">
            <img src="static/LOGO.png" alt="Logo">
        </div>
        <div class="nav-links">
            <button class="log-in" onclick="window.location.href='/logout';">Log Out</button>
        </div>
    </div>
    <div class="container">
        <h1>
            <span id="ash">Experience</span>
            <span id="blue">Instant</span>
            <span id="blue">Connection</span>
            <span id="ash">With</span>
        </h1>
        <h1>
            <span class="black">Our</span>
            <span class="blue1">ChatBot</span>
        </h1>
    </div>
    <div class="container">
        <h2>
            <span class="ash">Unlock a world of endless conversation with our dynamic chatbot – where every interaction sparks curiosity and connection.</span>
        </h2>
    </div>

    </div>
    <div>
        <button class="button-71" role="button" onclick="window.location.href='/chatbot';">Get Started</button>
    </div>

</body>
</html>